@import url(https://fonts.googleapis.com/css?family=Special+Elite);
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
}
h5 {
 color: rgb(97, 97, 97);
font-family: "Special Elite","Helvetica",sans-serif;
font-size: 20px;
font-weight: 500;
letter-spacing: 0.4px;
line-height: 20px;
margin-bottom: 16px;
margin-left: 0px;
margin-right: 0px;
margin-top: 24px;
padding-bottom: 10px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
text-align: left;
}
button {
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(255, 64, 129);
background-image: none;
background-origin: padding-box;
background-position: 0% 0%;
background-repeat: repeat;
background-size: auto auto;
border-bottom-color: rgb(255, 255, 255);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0 0 0 0;
border-image-repeat: stretch stretch;
border-image-slice: 100% 100% 100% 100%;
border-image-source: none;
border-image-width: 1 1 1 1;
border-left-color: rgb(255, 255, 255);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(255, 255, 255);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(255, 255, 255);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: none;
border-top-width: 0px;
box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
color: rgb(255, 255, 255);
cursor: pointer;
display: inline-block;
font-family: "Special Elite","Helvetica",sans-serif;
font-size: 14px;
font-weight: 500;
height: 36px;
letter-spacing: 0px;
line-height: 36px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 20px;
margin-top: 0px;
min-width: 64px;
outline-color: rgb(255, 255, 255);
outline-style: none;
outline-width: 0px;
overflow: hidden;
overflow-x: hidden;
overflow-y: hidden;
padding-bottom: 0px;
padding-left: 16px;
padding-right: 16px;
padding-top: 0px;
position: relative;
text-align: center;
text-decoration: none;
text-decoration-color: rgb(255, 255, 255);
text-decoration-line: none;
text-decoration-style: solid;
text-transform: uppercase;
transition-delay: 0s, 0s, 0s;
transition-duration: 0.2s, 0.2s, 0.2s;
transition-property: box-shadow, background-color, color;
transition-timing-function: cubic-bezier(0.4, 0, 1, 1), cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
vertical-align: middle;
will-changebox-shadow-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
}
